langchain
chromadb
openai
tiktoken
python-dotenv
fastapi
uvicorn
pydantic
langchain-openai
langchain-chroma
langchain-core
langchain-community
supabase
python-dotenv
langgraph
pypdf
pdf2image
pytesseract
Pillow